.container {
  padding-top: 20px;
}

.ui-item {
  &.started {
    border: 1px dashed #337ab7;
  }
  &.targetted {
    border: 1px dashed #333;
  }
  .panel-heading {
    cursor: move;
    .panel-title {
      a {
        margin-left: 5px;
      }
    }
  }

}

.ui-todo-item {
  .tasks {
    label {
      .todo-item-label {
        margin-left: .5em;
      }
      &.done {
        .todo-item-label {
          color: #777;
          text-decoration: line-through;
        }
      }
    }
  }
}
