<div class="panel panel-primary ui-text-item ui-item">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span>{{item.title}}</span>
      <a href="" class="pull-right" ng-click="removeItem(item)"><i class="fa fa-trash"></i></a>
      <a href="" class="pull-right" ng-click="editItem(item)"><i class="fa fa-edit"></i></a>
    </h3>

  </div>
  <div class="panel-body" ui-bind-markdown md-source="item.text">
  </div>
  <div class="ui-resizable-handle ui-resizable-e"></div>
  <div class="ui-resizable-handle ui-resizable-s"></div>
</div>
